@import './variable.less';

// Layout 布局
.ant-layout {
  background-color: transparent;
  .ant-layout-header {
    background-color: transparent;
    padding-inline: 0;
  }
  .ant-layout-content {
    overflow-y: auto;
  }
  .ant-layout-footer {
    background-color: transparent;
    padding: 0px;
  }
}

// Radio 单选框
.ant-radio-group {
  .ant-radio-wrapper {
    > span {
      color: @text-color-main;
    }
  }
}

// Message 全局提示
.ant-message {
  > div {
    color: @text-color-main;
    .ant-message-notice-content {
      border: 1px solid @border-color;
      background: @bg-color-header;
    }
  }
}

// Input 输入框
.ant-form-item-control-input {
  .ant-form-item-control-input-content {
    .ant-input-affix-wrapper {
      background: @bg-color-content;
      color: @text-color-main;
      border-color: @border-color;
      .ant-input-prefix {
        color: @text-color-secondary;
      }
      .ant-input {
        color: @text-color-main;
        background: @bg-color-content;
      }
      .ant-input-suffix {
        .ant-input-clear-icon {
          color: @text-color-main;
          opacity: 0.5;
        }
      }
    }
  }
}
