// layout
.ant-layout {
  background-color: transparent;
  .ant-layout-header {
    background-color: transparent;
  }
  .ant-layout-content {
    overflow-y: auto;
  }
  .ant-layout-footer {
    background-color: transparent;
  }
}
