@import './variable.less';

.gen-title {
  color: @mainColor;
  font-size: 16px;
  line-height: 16px;
}
.gen-desc {
  color: @secondaryColor;
  font-size: 12px;
  line-height: 12px;
}
.gen-scroll {
  /* 全局样式 */
  ::-webkit-scrollbar {
    width: 8px; /* 设置滚动条宽度 */
  }
  /* 滚动条样式 */
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* 设置滑道背景色 */
  }
  ::-webkit-scrollbar-thumb {
    background-color: #aaa; /* 设置滑块背景色 */
    border-radius: 4px; /* 设置滑块圆角 */
  }
}

// form表单
.gen-form {
  &.ant-form {
    .ant-form-item {
      margin-bottom: 16px;
    }
  }
}
